.wrapper_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--inline-radius);
  color: var(--colors-secondary);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: 0;
  text-decoration: none;
  transition: background var(--transitions-duration) ease-in-out,
    color var(--transitions-duration) ease-in-out;

  white-space: nowrap;

  &:hover {
    color: var(--fg);
    background-color: var(--gray-bg-b);
  }
}
