@media (min-width: 760px) {
  .main {
    width: 800px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.main {
  align-items: center;
  display: flex;
  margin: 0px auto;
  padding: var(--space-navHeightMobile) 0;
  overflow: hidden;
  flex: 1 1 0%;
}

.button {
  padding: 10px;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--radii-borderRadius);
  color: var(--fg);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: 0;
  text-decoration: none;
  
  kbd {
    align-items: center;
    display: flex;
    height: 19px;
  }
}

.wrapper_main {
  font-size: 16px;
  line-height: 32px;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 20px 0;
}

.wrapper_text {
  margin: 0px auto !important;
  max-width: 760px !important;
  padding: 0px 20px !important;
}
