.keyword {
  font-weight: bold;
  color: var(--keyword);
}

.token.operator,
.token.punctuation,
.token.string,
.token.plain,
.token.number,
.token.builtin,
.token.imports,
.token.parameter,
.token.variable {
  color: var(--token);
}

.token.comment {
  color: var(--comment);
}

.token.class-name,
.token.literal-property,
.token.maybe-class-name,
.token.function,
.token.tag,
.token.attr-name {
  color: var(--name);
}
